.popup-pickup-type {
    font-style: italic;
}

.popup-pickup-name {
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 0;
    margin: 5px 0;
}

.popup-address {
    border-top: 1px solid #cecece;
    padding: 10px 0;
    font-size: .9rem;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    color: #000;
}

.upc, .city {
    text-transform: capitalize;
}

#choose-pickup-point {
    background-color: #292a2e;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    width: 100%;
}

.popup-opening-hours {
    border-top: 1px solid #cecece;
    padding: 10px 0;
    font-size: .9rem;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    color: #000;
}

.popup-opening-hours > ul {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0.5rem;
}

.popup-opening-hours ul li {
    margin-left: 1em;
    font-size: .8rem;
    list-style-type: none;
    line-height: 1.5rem;
}

.popup-opening-hours ul li strong {
    font-weight: 700;
    font-size: .8rem;
}
