<div class="selected-pickup-container" hidden>
    <p><strong>{{ 'clever_age.ui.pickup_point.chosen'|trans }}</strong></p>
    <p id="selected-pickup"></p>
    <button id="remove-pickup" class="change-pickup ui primary icon labeled button" type="button">
        <i class="ban icon"></i>
        {{ 'clever_age.ui.pickup_point.change'|trans }}
    </button>
</div>
